<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite">
    <test name="TestCase">
        <classes>
            <class name="DynamicModel.UserPoints"/>
            <class name="DynamicModel.UserPointsPosts"/>
            <class name="DynamicModel.UserPointsComments"/>
            <class name="DynamicModel.UserPointsTodos"/>
        </classes>
    </test>
</suite>
