<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ParallelTestSuite" >
    <test name="TestCase" parallel="classes" thread-count="16">
        <classes>
            <class name="DynamicModel.Cases.UserPoints"/>
            <class name="DynamicModel.Cases.UserPointsPosts"/>
            <class name="DynamicModel.Cases.UserPointsComments"/>
            <class name="DynamicModel.Cases.UserPointsTodos"/>
        </classes>
    </test>
</suite>
